:host{
  .main-wrapper{
    height: 95vh;
    max-width: 100vw;
    padding-top:40px;
    margin:auto;
    mat-form-field{
      max-width: 300px;
    }
    header{
      height: 15vh;
    }
    .no-margin{
      margin: 0;
    }
  }
}