<div class="main-wrapper" *ngIf="(planetsList | async) as planetsList; else loading">

  <div class="fixed-height" fxLayout="row wrap">

    <div *ngFor="let item of planetsList.results" 
      class="planet" 
      fxFlex.lt-sm="0 0 calc(100% - 5px * 2)" 
      fxFlex.gt-md="0 0 calc(50% - 5px * 2)" 
      fxLayout="column"  
      fxLayoutAlign="flex-start flex-start" 
      fxLayoutGap="0px">

      <planet-card [planet]="item" class="full-width"></planet-card>

    </div>

  </div>

  <app-paginator [planetsList]="planetsList" (pageToLoad)="onPageChanged($event)"></app-paginator>

</div>

<ng-template #loading>
  <div class="fixed-height no-scroll" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
