.planet--name {
    margin-top: 0;
}
.planet--info {
    width: 100%;
}
.planet--info--parameter {
    display: flex;
    flex-flow: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    &:not(:first-child) {
        margin-top: 5px;
    }
    p {
        width: 30%;
        margin: 0;
    }
    .planet--info--value {
        //margin-left: 1rem;
        font-weight: lighter;
        width: 70%;
    }
}