<div><h3 class="planet--name">{{planet.name}}</h3></div>

<div class="planet--info" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start">
  <div class="full-width">
    <div class="planet--info--parameter">
      <p>Climate: </p><span class="planet--info--value">{{planet.climate}}</span>
    </div>
    <div class="planet--info--parameter">
      <p>Terain: </p><span class="planet--info--value">{{planet.terrain}}</span>
    </div>
    <div class="planet--info--parameter">
      <p>Diameter: </p><span class="planet--info--value">{{planet.diameter}}</span>
    </div>
    <div class="planet--info--parameter">
      <p>Gravity: </p><span class="planet--info--value">{{planet.gravity}}</span>
    </div>
  </div>
</div>